<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/logo.png" type="image/png" />
    <title>المعلم التكنولوجي - إعادة تعيين كلمة المرور</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      html {
        background-color: #eee;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
      }

      body {
        display: grid;
        place-content: center;
        height: 80vh;
      }

      .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10vh;
      }

      .logo {
        width: 150px;
        object-fit: contain;
      }

      .errror-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
      }

      .error-heading {
        font-weight: 600;
        font-size: 18px;
        color: #1ae5da;
      }

      .messages-list {
        display: flex;
        flex-direction: column;
        gap: 7px;
      }

      .message-item {
        font-size: 15px;
        font-weight: 500;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <img class="logo" src="/logo.png" alt="logo" />

      <div class="errror-container">
        <p class="error-heading">
          Process failed because of some of these reasons:
        </p>

        <ol class="messages-list">
          <li class="message-item">
            Password should be at least 8 characters.
          </li>

          <li class="message-item">Passwords should be equal.</li>
        </ol>
      </div>
    </div>
  </body>
</html>
